<h1>Page d'accueil</h1>

<% Gossip.all.each do |potin| %>
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
 <div class="card-header"><%= potin.author.name %></div>
 <div class="card-body">
    <h4 class="card-title"><%= potin.title %></h4>
    <p class="card-text"><%= potin.content %></p>
  </div>
</div>
<a href="<%= gossip_path(potin.id) %>" class="btn btn-primary">Lire la suite</a>
<a href="<%= edit_gossip_path(potin.id) %>" class="btn btn-secondary">Editer</a>
<a href="<%= gossip_path(potin.id) %>" class="btn btn-danger" data-confirm="etes vous sur ?" data-method="DELETE">Supprimer</a>

<p>
   
   </p>

<% end %>
