<!DOCTYPE html>
<html>
  <head>
    <title>The Gossip Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">The Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/gossips">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/static/team">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/static/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/gossips/new">Creer un Gossip</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/sessions/new">Connexion</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <button type="button" class="btn btn-danger"><%= link_to "Se déconnecter", session_path(session.id), method: :delete %> </button>



    </form>
  </div>
</nav>

  <body>
    <%= yield %>
  </body>
</html>
